#click {
    position: absolute;
    top: 50px;
    left: 800px;
    display: block;
}


#boxes {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	width: 200px;
	height: 200px;
}
h1 {
	text-align: center;
}